@import 'variables';

html, body, .app-container {
  height: 100vh;
}

.app-container {
  font-size: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $white;
}

// button, 