.app-container {
	width: 100vw;
	
  display: flex;
  justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: $white;
}

.menu-bar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 100vw;

	.logo {
		display:flex;
    align-items: center;
		background-color: $bege;
		width: 280px;
		height: 80px;

		h3 {
			color: $white;
      font-size: 32px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-left: 18px;
      line-height: 40px;
      letter-spacing: 3px;
		}
	}

	.menu-list {
		ul {
			display: flex;

			li a {
				text-decoration: none;
				font-size: 16px;
				color: $black;
        font-weight: 700;
        margin-right: 80px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        margin-left: 18px;
				white-space: nowrap;
				
				&:hover {
					text-decoration: underline;
				}
			}	
		}
	}

	.search {
    display: flex;
    align-items: center;
    input {
      border: none;
      border-bottom: 1px solid;
      width: 88px;
		}
		
    button {
			font-size: 16px;
			font-weight: 700;
			padding: 11px 12px;
			border: none;
      background-color: $white;
      margin-right: 88px;
		}
  }
}

footer {
	padding: 60px;

	.getting-in-touch{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 299px;
		background: 
		linear-gradient(
						rgba(208, 197, 176, 0.4), 
						rgba(208, 197, 176, 0.4)
		),
		url(assets/footer.png) no-repeat center;
		background-size: cover;

		strong{
			font-size: 72px;
			color: $white;
		}

		p{

		}

		.email-input {
			input {
				color: $white;
				border: 1px $white solid;
				background-color: Transparent;
				width: 324px;
				height: 56px;
				padding: 16px;
			}

			::placeholder {
				color: $white;
				opacity: 1; /* Firefox */
			}

			button{
				color: $white;
				border: 1px $white solid;
				background-color: Transparent;
				width: 56px;
				height: 56px;
			}
		}
	}
	.contact-info{
		// display: flex;
		// justify-content: space-between;
		padding: 172px;
		// align-items: center;
		height: 530px;
		background-color: $gray-footer;

		strong{
			color: $white;
			font-size: 32px;
      font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			margin-top: 135px;
		}

		.info-list{
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $bege;
			
			li {
				margin-bottom: 22px;
			}
		}
	}
	.copyright{
		height: 84px;
		background-color: $gray-heavy;
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			color: $bege;
			padding: 172px;
		}
	}
}
// #D0C5B6